*
  font-size: 100%
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box


body
  height: 100%
  background: -moz-radial-gradient(50% 3000px, circle, white 2890px, black 2920px)
  background: -webkit-gradient(radial, 50% 3000, 2890, 50% 3000, 2920, from(white), to(black))
  
  font:
    size: 1.1em
    family: 'Asap', sans-serif
    
  a
    text-decoration: underscore
    color: #555

ul
  li
    list-style: url(../images/bullet.rocket.png)

ul.people
  li
    list-style: url(../images/bullet.person.png)

.astronaut-reversed
  background-image: url(../images/astronaut-reversed.png)
  position: absolute
  top: -15px
  left: -10%
  width: 82px
  height: 80px

.astronaut
  background-image: url(../images/astronaut.png)
  position: absolute
  top: -15px
  right: -10%
  width: 82px
  height: 80px
  
.content
  background-image: url(../images/docking.png)
  background-repeat: no-repeat
  background-position: 100% 100%
  width: 600px
  height: 50em
  margin: 0 auto
  padding: 0em 3em 0em 3em
  position: relative
  
  h1
    color: white
    text-align: center
    font-size: 2em
    margin-bottom: 2em

.links
  text-align: center
  
.slogan
  font-variant: small-caps
  font-size: 1.5em