.astronaut.left
.astronaut.right
.content
  link rel="stylesheet" href="stylesheets/TangleKit.css" type="text/css"
  script type="text/javascript" src="javascripts/sprintf.js"
  script type="text/javascript" src="javascripts/mootools.js"
  script type="text/javascript" src="javascripts/Tangle.js"
  script type="text/javascript" src="javascripts/BVTouchable.js"
  script type="text/javascript" src="javascripts/TangleKit.js"
  
  p#estimate
    |  With an estimate of 
    span data-var="hours" class="TKAdjustableNumber" data-min="1" data-max="200" data-format="%.0f hours"
    |  we are 
    span data-var="probability" data-format="%.0f" %
    |  sure to finish by then.

javascript:
  var standardNormalCDF = function(z) {
    var b1 = 0.31938153;
    var b2 = -0.356563782;
    var b3 = 1.781477937;
    var b4 = -1.821255978;
    var b5 = 1.330274429;
    var p = 0.2316419;
    var c2 = 0.3989423;
    if (z > 6.0) {
      return 1.0;
    };
    if (z < -6.0) {
      return 0.0;
    };
    var a = Math.abs(z);
    var t = 1.0 / (1.0 + a * p);
    var b = c2 * Math.exp((-z) * (z / 2.0));
    var n = ((((b5 * t + b4) * t + b3) * t + b2) * t + b1) * t;
    n = 1.0 - b * n;
    if (z < 0.0) {
      n = 1.0 - n
    };
    return n;
  }
  var logNormalCDF = function(x, mu, sigma) {
    return standardNormalCDF((Math.log(x) - mu) / sigma);
  }
  
  var getQueryStringParameter = function(name) {
    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
  }

  function setUpTangle () {
    var element = document.getElementById("estimate");

    var tangle = new Tangle(element, {
      initialize: function () {
        this.hours = parseInt(getQueryStringParameter('hours'));
        this.doubt = parseFloat(getQueryStringParameter('doubt'));
        this.mu = parseInt(getQueryStringParameter('mu'));
      },
      update: function () {
      	this.probability = Math.floor(logNormalCDF(this.hours, this.mu, this.doubt) * 100);
      }
    });
  }
  setUpTangle();